<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Public Litnotes</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'login_app\css\style.css' %}">
</head>
<body>
    <div class="wrapper">
    <div class="login-container">
            <form action="/login" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td colspan="2">
                            <h3>Login</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">Email</label>
                        </td>
                        <td>
                            <input type="email" id="email" name="email" placeholder="Enter your email address here">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password</label>
                        </td>
                        <td>
                            <input type="password" id="password" name="password" placeholder="Enter your password here">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="login-button"><a href="#">Login</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>New user? <a href="#">Register here</a></td>
                    </tr>
                </table>
            </form>

            <!-- Validation Check -->
            <div class='small'>
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }} text-success"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>