* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family)
}

html {
  background-color: #1DB954;
}

/* Light Mode */
:root {
  --primary-color: rgb(29,185,84,0.5);
  --secondary-color: red;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #1DB954;
  --hover-color: white;
  --subcategory-color: orange;
  --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Dark mode */
[data-theme="dark"] {
  --primary-color: #343a40;
  --secondary-color: #818cab;
  --font-color: white;
  --bg-color: #161625;
  --heading-color: red;
  --hover-color: white;
  --subcategory-color: orange;
  --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #181818;
  }
  
  .wrapper {
    background-color: var(--bg-color);
  }
  
  .master-container {
    /* background: url(../images/light-honeycomb-dark.png); */
    background: url(../images/asfalt-light.png);
    /* background: url('https://picsum.photos/1920/1080/?blur'); */
    height: 1000px;
}


/* Custom NavBar */
.custom_nav{
  background-color: var(--primary-color);
  /* border: 1px solid var(--secondary-color); */
  height: 5rem;
  text-align: center;
  position: relative;
}

.custom_nav h3 {
  margin-top: 0px;
  padding: 10px;
  display: inline-block;
}

@media only screen and (max-width: 600px){
  .custom_nav {
    /* background-color: red; */
  }
}

@media only screen and (min-width: 599px){
  .custom_nav {
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;

  }
}

/* Custom NavBar End */

.spotify-green {
    color:#1DB954;
}

.header, .header h1 {
    text-align: center;
    font-size: 80px;
    color: var(--font-color);
}

.registration-block {
    width: 49%;
    display: inline-block;
}

.login-block {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.toggle_button i {
    color: cyan;
    text-decoration: none;
}

.toggle_a_tag {
    text-decoration: none; 
    color: #1DB954;
}

.new_note {
    text-align: center;
}

.submit_new_note_button {
  background-color: var(--primary-color);
}

.category_td select {
  margin: 0 auto;
}

.selection {
  width: 200px;
}

.note_head {
    font-size: 24px;
    font-weight: bold;
}

.note-title {
    font-weight: bold;
    width: 400px;
}

.form-control.note-title {
    width: 400px;
}

.note-body {
    font-size: 18px;
}


.add_note {
  padding-top: 15px;
  text-align: center;
}

.add_note a {
    padding: 10px 14px 10px 14px;
    border: 2px solid #343a40;
    background-color: var(--heading-color);
    border-radius: 50%;
    color: #343a40;
}

.add_note a:hover {
    padding: 10px 14px 10px 14px;
    border: 2px solid var(--heading-color);
    background-color: var(--bg-color);
    border-radius: 50%;
    color: var(--heading-color);
}



/* Accordian  */
.accordion {
  /* background-color: #343a40; */
  background-color: var(--bg-color);
  color: var(--heading-color);
  cursor: pointer;
  padding: 18px;
  /* padding-right: 40px; */
  width: 100%;
  /* border: none; */
  border: 1px solid var(--heading-color);
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  /* background-color: white;  */
  color: var(--heading-color);
  border: 2px solid var(--heading-color);
  /* background-color: var(--primary-color); */
}

.panel-default {
  padding: 0 18px;
  display: none;
  /* background-color: black; */
  /* background: rgb(66, 135, 245, 0.5); */
  border: 1px solid var(--heading-color);
  background: var(--primary-color);
  color: white;
  /* background: rgb(28,150,255, 0.25); */
  overflow: hidden;
}

.panel-content {
  /* text inside notes */
}

/* Sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 25px;
  color: var(--heading-color);
  display: block;
  transition: 0.3s;
}

.container a {
  /* border: 1px solid red; */
  padding: 5px;
}

.subcategory-container a {
  color: var(--subcategory-color);
} 

.sidenav a:hover {
  color: var(--primary-color);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.subcategory-container{
  position: relative;
  width: 232px;
  height: 2rem;
  /* border: 1px solid cyan; */
  /* background-color: cyan; */
  font-size: 18px;
}

.subcategory {
}

.subcategory_add {
  margin-top: 10px;
  /* border: 1px solid cyan; */
  position: relative;
  height: 3rem;
  width: 232px;
}

.left {
  display: inline-block;
  position: absolute;
  left: 20px;
  /* border: 2px solid red; */
}

.right {
  display: inline-block;
  position: absolute;
  right: 0px;
  /* border: 2px solid green; */
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Side Navbar Styling */
.side-bar-text {
  color: #1DB954;
}

.center-text{
  text-align: center;
}

.center-text input{
  margin: 10px;
}

.inline{
  display: inline-block;
}

.category{
  /* border: 1px solid orange; */
  position: relative;
}

.category a {
  text-decoration: none;
}

.categories-title{
  text-align: center;
  color: #1DB954;
}

.sidenav a {
  font-size: 18px;
}

.category-left {
  display: inline-block;
}

.category-right {
  display: inline-block;
}

.category-right i {
  position: absolute;
  right:1rem;
  top:1rem;
}

.panel p {
  margin-top: 1rem;
}

.inline {
  display: inline-block;
}

.relative-container {
position: relative;
}

.category-trashcan{
  color: red;
  font-size: 14px;
}

.trashcan {
  position: absolute;
  top: 1rem;
  right: 10px;
  color: white;
}

.trashcan-note {
  position: absolute;
  /* top: 4px; */
  top: 23px;
  right: 2rem;
  color: var(--heading-color);
}

.trashcan:hover {
  color: #1DB954;
}

.logout {
  font-size: 18px;
  color: var(--heading-color);
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.new_category_add_box{
  /* border: 1px solid yellow; */
}

.new_category_add_box table{
  margin: 0 auto;
}

.align-top {
  vertical-align: top;
}

input[type="text"], textarea {
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
  color: white;
}

.home-button {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.my_navbar {
  background-color: red;
}


.bar {
  height: 6rem;
  width: 100%;
  background-color: red;
  position: relative;
}


/* Toggle switch */
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {

  /* display: flex;
  align-items: center; */
}
.theme-switch {
  /* top: -10px; */
  display: inline-block;
  height: 34px;
  position: absolute;
  /* top: 1rem; */
  right: 30px;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-box {
  margin-top: -17px;
  right: 10px;
  /* top: 20px; */
  position: absolute;
  right: 0;
}

.switch-box-container {
  background-color: red;
}


.add_button {
  color: #1DB954;
}

.add_notes_table_container {
  display: none;
}

.add_notes_table {
  margin: 0 auto;
  width: 1200px;
  /* width: 1200px; */
  /* background: rgb(66, 135, 245, 0.5); */
  background: var(--heading-color);
  text-align: center;
}

.delete-item {
  color: red;
  font-size: 12px;
  padding-right: 10px;
}

.delete-item:hover {
  color: yellow;
}

.toggle_side_nav {
  /* margin-left: 250px; */
}

.toggle_eye {
  position: fixed;
  top: 10px;
  font-size: 20px;
  /* border: 1px solid #1DB954; */
  /* background-color: black; */
  /* border-radius: 10px; */
  padding: 10px 15px 10px 15px;
}

.navbar-custom{
  color: red;
  background-color: var(--heading-color);
}

.navbar-custom a {
  color: white;
}

/* Hide Scrollbar */
.sidenav::-webkit-scrollbar { width: 0 !important }
.sidenav { overflow: -moz-scrollbars-none; }
.sidenav { -ms-overflow-style: none; }

/* Hide Scrollbar */
html::-webkit-scrollbar { width: 0 !important }
html { overflow: -moz-scrollbars-none; }
html { -ms-overflow-style: none; }

::-webkit-input-placeholder {
  text-align: center;
}

/* placeholder color */
::placeholder {
  color: var(--heading-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: var(--heading-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: var(--heading-color);
}